div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.news-detail .counter {
  color: gray;
	font-style: italic;
	font-size: 14px;
}
.news-detail .img-fluid {
    border: solid 1px #5f6500;
}
